@use '../../../../styles/variables/grids';

:host {
    display: block;
    box-sizing: border-box;
    overflow: auto;
    height: calc(100% - #{grids.$header-height});
}

.container {
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    row-gap: grids.$main-grid * 10;
    padding-top: grids.$main-grid * 2;
    margin-bottom: grids.$main-grid * 11;
}

.container--loading {
    margin-bottom: 0;
}

.header-loader {
    margin-top: grids.$main-grid * 2;
}

.footer-loader {
    box-sizing: border-box;
    margin-bottom: grids.$main-grid;
}

.hidden {
    visibility: hidden;
    pointer-events: none;
}
