@use 'variables/grids';
@use 'variables/colors';

:host {
    height: grids.$main-grid * 20;
    width: grids.$main-grid * 30;
    display: block;
}

.picture-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.disabled {
    pointer-events: none;
}
