@use 'variables/colors';
@use 'variables/grids';

:host {
    display: flex;
    justify-content: center;
}

.loading {
    border: 2px solid colors.$black-a100;
    border-radius: 50%;
    background-color: colors.$black-a30;
    color: colors.$white-a100;
    text-align: center;
    padding: grids.$main-grid * 4;
    font-weight: 700;
}
